---
---

@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/base.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/components.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/utilities.min.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    a{
        outline: none;
    }
    font-family: 'Poppins', sans-serif;
    #image {
        transition: all 0.5s ease;
        background-position: center;
        &:hover {
            transform: scale(1.05);
        }
        ::after {
            background-color: black;
        }
    }
    .links {
        transition: all ease 0.25s;
        &:hover {
            transform: scale(1.05);
        }
        text-shadow: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.05);
        &:hover {
            text-shadow: 0 0.15rem 0.50rem rgba(0, 0, 0, 0.15);
        }
        .fa-hand-paper{
            -moz-transform: scale(-1, 1) rotate(45deg);
            -webkit-transform: scale(-1, 1) rotate(45deg);
            -o-transform: scale(-1, 1) rotate(45deg);
            -ms-transform: scale(-1, 1) rotate(45deg);
            transform: scale(-1, 1) rotate(45deg);
        }
        #link-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .tooltip {
        position: relative;
        display: inline-block; // Ensures proper positioning of inline elements
      
        &::before {
          content: "\2003" attr(class); // print em-space with class text
          text-indent: -4.5em; // add negative text offset to hide class name
          display: inline-block;
          position: absolute;
          bottom: 100%; // Position above the element
          left: 50%; // Move the tooltip to the center
          transform: translateX(-50%); // Shift it back by 50% of its width to center it
          background: #000;
          color: #FFF;
          padding: 5px;
          border-radius: 5px;
          opacity: 0;
          transition: 0.3s ease-in-out;
          overflow: hidden;
          max-width: 50%; // Avoids very long sentences
          white-space: nowrap; // Prevents line breaks
          pointer-events: none; // Prevents tooltip from firing on pseudo hover
        }
      
        &:hover::before {
          opacity: 1;
          bottom: 120%; // Slightly above the element
        }
      }
}